.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-color: var(--background4);
  color: var(--letter1);
  padding-top: 35px;
  padding-bottom: 35px;
}

#educationBtn {
  background-color: var(--background4);
  color: var(--letter2);
  font-size: 35px;
  gap: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  text-decoration: underline;
}
.education li {
  padding: 2px;
  margin: 0px;
}
.tituloRelevant {
  padding-top: 40px;
  padding-bottom: 1spx;
}
h5 {
  padding-top: 0px;
}
@media (max-width: 768px) {
  #educationBtn {
    font-size: 23px;
  }
}
