header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background3);
  color: var(--letter1);
}

header li {
  text-align: center;
}
header ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 20px;
}
a {
  color: var(--background1);
}

.nav {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: var(--background2);
    border-radius: 0 0 8px 8px;
  }

  .nav.open {
    display: flex;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  .hamburger span {
    display: none;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
  }
  .hamburger.open span {
    display: block;
  }

  header ul {
    display: none;
  }

  .nav li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #444;
    padding: 10px 0;
  }

  .nav li:last-child {
    border-bottom: none;
  }

  .nav a {
    color: var(--letter3);
  }
}
