main {
  overflow-y: auto;
}
#content {
  padding: 10px;
  background-color: var(--background4);
}

#buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: var(--letter2);
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
}

#display-content {
  border-top: 1px solid #ddd;
  padding-top: 0px;
  margin-top: 0px;
}
